// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	font-family: fantasy;
	margin: auto;
	position: relative;
	position: center;
}


new_post {
	margin: auto;
	position: absolute;
	position: center;
}

#my_travels {
	font-family: Lucida Handwriting;
    text-align: center;
	color: white;
	margin: 20px;
	background-color: rgba(0,0,0,0.5) ;
	border-radius: 10px;
	text-shadow: -1px -1px 0 #000066,
    1px -1px 0 #000066,
    -1px 1px 0 #000066,
    1px 1px 0 #000066;
}

#posts {
	margin-left: 45%;
	position: relative;
}

#new {
	font-family: Lucida Handwriting;
    text-align: center;
	color: white;
	margin: 20px;
	background-color: rgba(0,0,0,0.5) ;
	border-radius: 10px;
	text-shadow: -1px -1px 0 #000066,
    1px -1px 0 #000066,
    -1px 1px 0 #000066,
    1px 1px 0 #000066;
}

#new_post {
	margin-left: 45%;
	margin-right: 55%;
	position: relative;
}