// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#title {
	font-family: Lucida Handwriting;
	font-size: 50px;
	margin-top: 3%;
	color: white;
	text-align: center;
	text-shadow: -1px -1px 0 #000066,
    1px -1px 0 #000066,
    -1px 1px 0 #000066,
    1px 1px 0 #000066;
	margin: 20px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
	border: 2px solid #000066;

}

#welcome {
	text-align: center;
	font-size: 20px;
	margin: 15px;
	color: #000066;
	border-radius: 10px;
	
}

#container {
	border-radius: 10px;
	height: 450px;
	width: 600px;
	margin: 0 auto;
	position: relative;
}

#signup {
    float: left;
    margin-top: 15%;
    margin: 5%;
    color: #000066;
}

#login {
	float: right;
	margin-top: 15%;
	margin: 5%;
    color: #000066;
}