// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
}

#avatar {
	margin-left: 10px;
	border-radius: 10px;
}

#your_page {
	font-family: Lucida Handwriting;
    text-align: left;
	color: white;
	margin: 20px;
	background-color: rgba(0,0,0,0.5) ;
	border-radius: 10px;
	text-shadow: -1px -1px 0 #000066,
    1px -1px 0 #000066,
    -1px 1px 0 #000066,
    1px 1px 0 #000066;

}

#links {
	list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
	display: inline;
    width: 60px;
    margin-left: 60px;
    margin-bottom: 5px;
}

#account_info {
	font-family: Lucida Handwriting;
	color: white;
	margin: 20px;
	background-color: rgba(0,0,0,0.5) ;
	border-radius: 10px;
	text-align: center;
	margin: 20px;
	border-radius: 10px;
	text-shadow: -1px -1px 0 #000066,
    1px -1px 0 #000066,
    -1px 1px 0 #000066,
    1px 1px 0 #000066;
}

#edit {
	margin-left: 45%;
	position: relative;

}